# ==================== IDE ====================
.idea/
*.iml
.vscode/
*.swp
*.swo

# ==================== Build ====================
target/
*.class
*.jar
*.war
dist/

# ==================== Dependencies ====================
node_modules/

# ==================== Logs ====================
log.path_IS_UNDEFINED/
*.log

# ==================== OS ====================
.DS_Store
Thumbs.db
